<h1>Skapa användare</h1>

<% if @user.errors.any? %>
	<div id="error_messages">
		<h2>Fel vid skapandet av en användare.</h2>
		<ul>
			<% @user.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<%= form_for @user do |f| %>

	<%= f.label :first_name %>
	<%= f.text_field :first_name %>
	
	<%= f.label :last_name %>
	<%= f.text_field :last_name %>
	
	<%= f.label :email %>
	<%= f.text_field :email %>
	
	<%= f.label :email_confirmation %>
	<%= f.text_field :email_confirmation %>
		
	<%= f.label :password %>
	<%= f.password_field :password %>
	
	<%= f.label :password_confirmation %>
	<%= f.password_field :password_confirmation %>
	
	<%= f.submit "Slutför registrering"%>

<% end %>
