<h1>Redigera Ticket</h1>
<%= render "ticket" %>

<%= form_for @ticket, :url => { :action => "update" } do |f| %>

	<%= f.label :name %>
	<%= f.text_field :name %>
	
	<%= f.label :description %>
	<%= f.text_area :description %>
	
	<%= f.label :status_id %>
	<%= f.select(:status_id, options_from_collection_for_select(Status.all, :id, :status_name)) %>
	
	<%= f.label :user_id %>
	<% project = Project.find(params[:project_id]) %>
	<%= f.select(:user_id, options_from_collection_for_select(project.users, :id, :email)) %>
	
	<%= f.submit "Skapa Ticket"%>

<% end %>