<!DOCTYPE html>
<html>
<head>
  <title>AMPTA</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<div class='one-third column'>
			<% if signed_in? %>
				<%= render :template => 'users/signed_in' %>
				<%= render :template => 'layouts/menu_signed_in' %>
			<% else %>
				<%= render :template => 'layouts/menu_not_signed_in' %>
			<% end %>
		</div>
		<div class="two-thirds column">
			
			<% flash.each do |key, value| %>
			  <div class="flash_<%= key %>"><%= value %></div>
			<% end %>
			
			<div class="content">
				<%= yield %> 
			</div>
		</div>
	</div>

</body>
</html>
