<ul class="mainNav">
	<li><a href='/'>Home</a></li>
	<li>
		<%= link_to "Konto", user_path(current_user) %>
		<ul>
			<li><%= link_to "Profil", user_path(current_user) %></li>
			<li><a href="#">Inställningar</a></li>
		</ul>
	</li>
	<li>
		<%= link_to "Projekt", projects_path %>
		<ul>
			<li><%= link_to "Skapa projekt", new_project_path %></li>
			<li><%= link_to "Lista alla projekt", projects_path %></li>
		</ul>
	</li>
	<li><%= link_to "Medlemmar", users_path %></li>
</ul>

<a class='button' href='<%= signout_path %>'>Logga ut</a>